@page
@model KareMa.EndPoint.RazorPages.Pages.ServiceModel
@{
}

<section class="gray py-5">
    <div class="container">
        <div class="row justify-content-center">
            @foreach (var item in Model.Services)
            {
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="vrt-list-wrap border rounded p-3 shadow-sm">
                        <h4 class="mb-3 ft-medium text-center">@item.Name</h4>
                        <a asp-page="AddOrder" asp-route-id="@item.Id" class="btn btn-md full-width theme-bg text-light rounded ft-medium">
                            ثبت درخواست
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@* <section class="gray py-5">
    <div class="container">
        <div class="row">
            <!-- Item Wrap Start -->
            <div class="col-xl-12 col-lg-8 col-md-12 col-sm-12">

                <!-- row -->
                <div class="row justify-content-center g-2">


                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                        <div class="d-block grouping-listings">
                            @foreach (var item in Model.Services)
                            {
                                <!-- Single Item -->
                                <div class="grouping-listings-single">
                                    <div class="vrt-list-wrap">
                                        <div class="vrt-list-wrap-head">
                                            <div>
                                            </div>
                                            <div>
                                                <h4 class="mb-0 ft-medium">@item.Name</h4>
                                                <a class="btn btn-md full-width theme-bg text-light rounded ft-medium">ثبت درخواست</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <!-- row -->

            </div>

        </div>
    </div>
</section> *@

@* <section class="gray py-5">
    <div class="container">
        <div class="row">
            <!-- Item Wrap Start -->
            <div class="col-xl-12 col-lg-8 col-md-12 col-sm-12">

                <!-- row -->
                <div class="row justify-content-center g-2">
                    @foreach (var item in Model.Services)
                    {
                        <div class="col-xl-4 col-lg-3 col-md-3 col-sm-6">
                            <div class="grouping-listings-single">
                                <div class="vrt-list-wrap">
                                    <div class="vrt-list-wrap-head text-center">
                                        <div>
                                            <h4>@item.Name</h4>
                                        </div>
                                    </div>
                                    @if (User.IsInRole("Customer"))
                                    {
                                        <div class="p-3">
                                            <a asp-page="AddOrder" asp-area="" asp-route-id="@item.Id" class="btn btn-md  theme-bg text-light rounded ft-medium">ثبت درخواست</a> <!-- تگ <a> در زیر متن کارت قرار می‌گیرد -->

                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- row -->

            </div>

        </div>
    </div>
</section> *@